<md-dialog aria-label="dashboard-edit" flex>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Dashboard</h2>
        <span flex></span>
        <md-button ng-click="cancelDialog()">X</md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-list>
          <md-list-item>
            <md-input-container flex>
              <label ng-bind="translate('ADF_COMMON_TITLE')">Title</label>
              <input type="text" id="dashboardTitle" ng-model="copy.title" required>
            </md-input-container>
          </md-list-item>
          <md-list-item>
            <md-input-container class="md-input-has-value" flex>
              <label ng-bind="translate('ADF_EDIT_DASHBOARD_STRUCTURE_LABEL')">Structure</label>
              <br />
              <md-radio-group ng-model="copy.structure" layout="row" layout-wrap layout-padding>
                <md-radio-button ng-repeat="(key, structure) in structures" ng-value="key" flex-gt-sm="45">
                  <adf-structure-preview name="key" structure="structure" selected="copy.structure == key">
                  </adf-structure-preview>
                </md-radio-button>
              </md-radio-group>
            </md-input-container>
          </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="button" class="primary" ng-click="applyDialog()" ng-bind="translate('ADF_COMMON_CLOSE')">Apply</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
