<md-card style="height: {{definition.height}}" adf-id="{{definition.wid}}" adf-widget-type="{{definition.type}}" ng-class="widgetClasses(widget, definition)" class="widget">
  <md-card-title ng-if="definition.title || editMode">
    <md-card-title-text>
      <div ng-include src="definition.titleTemplateUrl"></div>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
      <adf-widget-content model="definition" content="widget" />
  </md-card-content>
  <md-card-footer ng-if="definition.config.punchout.url || definition.config.punchout.title || editMode">
    <md-card-footer-text>
      <div ng-include src="definition.footerTemplateUrl"></div>
    </md-card-footer-text>
  </md-card-footer>
</md-card>
